language: node_js

services:
  - docker

before_install:
  - docker pull amazon/dynamodb-local
  - docker run -p 8000:8000 --name dynamodb -d amazon/dynamodb-local
  - docker ps -a

node_js:
  - '16'

script:
  - npm run coverage-coveralls-local