.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 0;
}

.parent > pre {
  margin: 0;
}

@media (max-width: 50em) {
  .parent {
    grid-template-columns: 1fr;
  }
}
